/*CSS Reset */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*End of CSS reset */

body {
  background-color: black;
}

/* nav */ 

.nav {
	background-color: #1A1A1A;
	padding: 20px 5px;
  height: 40px;
  border-bottom: 2px solid yellow;
}

.nav li, .nav li button {
	list-style-type: none;
	display: inline;
	font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin: 0px 30px 0 0;
  color: yellow;
}

.nav li a {
	color: yellow;
	text-decoration: none;
}

.nav li a:hover {
	text-decoration: underline;
}

#logo, #submit {
  color: black;
  background-color: yellow;
  padding: 10px;
  text-decoration: none;
  font-size: 24px;
}

#logo {
  position: relative;
  top: 5px;
  left: 20px;
}

#submit {
  float: right;
  position: relative;
  top: -5px;
  right: 20px;
}

/* end of nav */ 

/* track */ 
.track {
  border: 1px solid gray;
  width: 600px;
  height: 100%;
  color: yellow;
  line-height: 1.5em;
  background-color: #1A1A1A;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  position: relative;
  top: 20px;
  left: 100px;
  padding: 10px;
}

.track a, .track h1 {
  color: white;
  font-size: 30px;
  padding: 5px;
  text-decoration: none;
  line-height: 1.2em;
}

.track a:hover {
  text-decoration: underline;
}

.track p {
  font-size: 20px;
  padding: 20px 0;
}

.track input {
  height: 60px;
  width: 450px;
  color: black;
  font-size: 24px;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.track textarea {
  height: 220px;
  width: 450px;
  color: black;
  font-size: 24px;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.track input {
  color: black;
  background-color: yellow;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.track2 {
  border: 1px solid gray;
  width: 600px;
  color: yellow;
  line-height: 1.5em;
  padding: 5px 10px;
  background-color: #1A1A1A;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  position: relative;
  top: 20px;
  left: 100px;
}

.track2 a, .track2 h1 {
  color: white;
  font-size: 30px;
  padding: 5px;
  text-decoration: none;
  line-height: 1.2em;
}

.track2 a:hover {
  text-decoration: underline;
}

.track2 p {
  font-size: 20px;
  margin: 20px 0;
}

.track2 p:hover {
  color: black;
  background-color: yellow;
}

.annotations {
  color: yellow;
  background-color: #1A1A1A;
  border-top: 3px solid gray;
  padding: 20px 0;
}

.annotations li {
  font-size: 20px;
}

.annotations-edit {
  color: yellow;
  background-color: #1A1A1A;
  border: 1px solid gray;
  width: 300px;
  height: 250px;
  margin: 30px;
}

.annotations-edit input, .annotations-edit p {
  color: yellow;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  width: 100px;
}


.annotations-edit textarea {
  color: black;
  background-color: yellow;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

/* end of track */ 

/* sidebar */ 
.sidebar {
  width: 380px;
  color: yellow;
  border: 1px solid gray;
  line-height: 1.5em;
  padding: 20px;
  position: relative;
  top: 50px;
  left: 800px;
  font-size: 20px;
  background-color: #1A1A1A;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.sidebar h2 {
  font-size: 38px;
  padding: 20px 0;
}

.sidebar li {
  text-decoration: inherit;
  padding: 5px 0;
}

.sidebar2 {
  width: 380px;
  color: yellow;
  border: 1px solid gray;
  line-height: 1.5em;
  padding: 20px;
  position: relative;
  bottom: 1500px;
  left: 800px;
  font-size: 20px;
  background-color: #1A1A1A;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

.sidebar2 h2 {
  font-size: 38px;
  padding: 20px 0;
  line-height: 1.2em;
}

.sidebar2 li {
  text-decoration: inherit;
  padding: 5px 0;
}

.sidebar3 {
  width: 380px;
  color: yellow;
  border: 1px solid gray;
  line-height: 1.5em;
  padding: 20px;
  position: relative;
  bottom: 1020px;
  left: 800px;
  font-size: 20px;
  background-color: #1A1A1A;
  font-family: "DinCondensed","Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
}

/* end of sidebar */ 



/* footer */ 
.footer {
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background-color: lightgray;
	 padding-bottom: 30px;
	padding-top: 10px;
 }

#pull-left img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

#pull-left {
  margin-left: 50px;
}

#pull-left li {
  display: inline;
}

#pull-right li {
  font-size: 13px;
  font-family: Lucida Grande;
  position: relative;
  top: -30px;
	vertical-align: center;
}

#pull-right a {
  color: #025488;
}

#pull-right img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: relative;
  top: 25px;
	margin-left: -5px;
}

#pull-right {
  margin-right: 50px;
}

#pull-left {
  float: left;
}

#pull-right {
  float: right;
}


/* end of footer */